@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

.text-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
}

.text-p {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 1.2em;
}

.text-li {
    transition: 0.5s;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: black;
    
}

.text-footer {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1em;
        font-weight: bold;
    }

.text-li:hover {
    font-size: 1.5em;
}


.bg-nav {
    background-color: #ccd5ae;
}

.bg-main {
    background-color: #e9edc9;
}

.bg-main2 {
    background-color: #fefae0;
}

.bg-footer {
    background-color: #faedcd;
}

.bg-footer2 {
    background-color: #d4a373;
}